.Arbetslivserfarenhet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(rgb(209, 107, 165, 1), rgb(209, 107, 165, 0));
    height: 100%;

}

ol.a{
    list-style: circle;
    list-style-position: inside;
}

.Erfarenhet{
    margin: 0 8rem ;
}

@media screen and ( max-width: 500px){

    .Erfarenhet{
        margin:4rem 2rem 2rem;
    }   
}