.Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#86A8E7;
    align-items: center;
}

.Kontakt{
    color: black;
}

.FootLänk{
    width: 16rem;
    display: flex;
    justify-content: space-between;
}