
.Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}

.HeadLänk{
    text-decoration: none;
    font-size: 14px;
    color: black; 
    transition: ease-in-out 1s;
    
}

.HeadLänk:hover {
    color:white;
}

@media screen and ( max-width: 500px){
    .HeadLänk {
        display: none;
    }
   
}