.hamburger {
    display:block;
    position: absolute;
    margin: .85rem 0rem 0rem 2rem;
    z-index: 100;
    border: none;
    background: none;
    
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 16rem;
    height: 16rem;
    background: rgba(255, 255, 255, 0.808);
    position: absolute;
    top: 3rem;
    border-radius: 0 20px 20px 0;
    z-index: 10;
    
}

.NavLänk{
    padding-left: 2rem;
    text-decoration: none;
    font-size: 14px;
    color: black; 
    transition: ease-in-out 1s;
}

.NavLänk:hover{
    color:white;
}

@media screen and ( max-width: 400px){
    .nav {
        width: 100vw;
        border-radius: 0 0 0 0;
        
    }
    .NavLänk{
        padding-left: 2.5rem;
    }
}