.OmMig{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(rgb(209, 107, 165, 1), rgb(209, 107, 165, 0));
    height: 100%;
    
}

.MigText{
    margin: 8rem 8rem;
}

@media screen and ( max-width: 500px){

    .MigText{
        margin:4rem 2rem 2rem;
    }   
}

