.Utbildningar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(rgb(209, 107, 165, 1), rgb(209, 107, 165, 0));
    height: 100%;
    
    
}

.Utb{
    margin: 100px 200px ; 
    max-width: 500px;
    align-self: center;
}

@media screen and ( max-width: 500px){

    .Utb{
        margin:4rem 2rem 2rem;
    }   
}